ALLOW_WORKLOADS_ON_MASTER: "true"
API_SERVER_FLAGS: ""
APISERVER_STORAGE_BACKEND: etcd3
APP_CATALOG_ENABLED: "false"
AUTHZ_ENABLED: "true"
BOUNCER_SLOW_REQUEST_WEBHOOK: ""
CALICO_IPIP_MODE: Always
CALICO_IPV4: autodetect
CALICO_IPV4_BLOCK_SIZE: "26"
CALICO_IPV4_DETECTION_METHOD: first-found
CALICO_IPV6: none
CALICO_IPV6_DETECTION_METHOD: first-found
CALICO_IPV6POOL_BLOCK_SIZE: "116"
CALICO_IPV6POOL_CIDR: ""
CALICO_IPV6POOL_NAT_OUTGOING: "false"
CALICO_NAT_OUTGOING: "true"
CALICO_ROUTER_ID: hash
CLOUD_PROVIDER_TYPE: local
CLUSTER_ID: a4d88242-9018-4cce-8eda-d926f9df1e60
CLUSTER_PROJECT_ID: 92a38e342e984ce6b002c9461ff15c04
CNI_BRIDGE: cni0
CONTAINERS_CIDR: 10.20.0.0/16
CONTROLLER_MANAGER_FLAGS: ""
CPU_MANAGER_POLICY: none
DEBUG: "false"
DEPLOY_KUBEVIRT: "false"
DEPLOY_LUIGI_OPERATOR: "false"
DOCKER_LIVE_RESTORE_ENABLED: "true"
DOCKER_PRIVATE_REGISTRY: ""
DOCKER_ROOT: /var/lib
DOCKERHUB_ID: ""
DOCKERHUB_PASSWORD: ""
ENABLE_CAS: "false"
ETCD_DATA_DIR: /var/opt/pf9/kube/etcd/data
ETCD_DISCOVERY_URL: ""
ETCD_ELECTION_TIMEOUT: "1000"
ETCD_ENV: |-
  ETCD_NAME=6acfa0d9-4107-42e1-b003-752a85fcd3b8
  ETCD_STRICT_RECONFIG_CHECK=true
  ETCD_INITIAL_CLUSTER_TOKEN=58e53022-109a-4547-b37e-b91af7f00ca6
  ETCD_INITIAL_CLUSTER_STATE=new
  ETCD_INITIAL_CLUSTER=6acfa0d9-4107-42e1-b003-752a85fcd3b8=https://172.20.7.61:2380
  ETCD_INITIAL_ADVERTISE_PEER_URLS=https://172.20.7.61:2380
  ETCD_LISTEN_PEER_URLS=https://172.20.7.61:2380
  ETCD_ADVERTISE_CLIENT_URLS=https://172.20.7.61:4001
  ETCD_LISTEN_CLIENT_URLS=https://0.0.0.0:4001,http://127.0.0.1:2379
  ETCD_DATA_DIR=/var/etcd/data
  ETCD_CERT_FILE=/certs/etcd/client/request.crt
  ETCD_KEY_FILE=/certs/etcd/client/request.key
  ETCD_TRUSTED_CA_FILE=/certs/etcd/client/ca.crt
  ETCD_PEER_KEY_FILE=/certs/etcd/peer/request.key
  ETCD_PEER_CERT_FILE=/certs/etcd/peer/request.crt
  ETCD_PEER_TRUSTED_CA_FILE=/certs/etcd/peer/ca.crt
  ETCD_CLIENT_CERT_AUTH=true
  ETCD_DEBUG=false
  ETCD_CIPHER_SUITES=TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
ETCD_HEARTBEAT_INTERVAL: "100"
ETCD_VERSION: ""
EXTERNAL_DNS_NAME: ""
EXTRA_OPTS: ""
FELIX_IPV6SUPPORT: "false"
FLANNEL_IFACE_LABEL: ""
FLANNEL_PUBLIC_IFACE_LABEL: ""
GCR_PRIVATE_REGISTRY: ""
HOSTID: 6acfa0d9-4107-42e1-b003-752a85fcd3b8
IPV6_ENABLED: "false"
K8S_API_PORT: "443"
K8S_PRIVATE_REGISTRY: ""
KEYSTONE_DOMAIN: kubernetes-keystone.platform9.horse
KEYSTONE_ENABLED: "true"
KUBE_PROXY_MODE: ipvs
KUBE_SERVICE_STATE: "true"
KUBELET_CLOUD_CONFIG: ""
MASTER_IP: 172.20.7.61
MASTER_VIP_ENABLED: "false"
MASTER_VIP_IFACE: ""
MASTER_VIP_PRIORITY: ""
MASTER_VIP_VROUTER_ID: ""
MASTERLESS_ENABLED: "false"
MAX_NUM_WORKERS: "0"
METALLB_CIDR: ""
METALLB_ENABLED: "false"
MIN_NUM_WORKERS: "0"
MTU_SIZE: "1440"
OS_AUTH_URL: ""
OS_PASSWORD: ""
OS_PROJECT_DOMAIN_NAME: ""
OS_PROJECT_NAME: ""
OS_REGION: ""
OS_USER_DOMAIN_NAME: ""
OS_USERNAME: ""
PF9_NETWORK_PLUGIN: calico
PRIVILEGED: "true"
QUAY_PRIVATE_REGISTRY: ""
REGISTRY_MIRRORS: https://dockermirror.platform9.io/
RESERVED_CPUS: ""
ROLE: master
RUNTIME_CONFIG: ""
SCHEDULER_FLAGS: ""
SERVICES_CIDR: 10.21.0.0/16
TOPOLOGY_MANAGER_POLICY: none
USE_HOSTNAME: "false"
VAULT_TOKEN: s.R6QCgxI7OjZQMMtHQJB3IQpV
